<p>
    In this lesson we will talk about the FumbleChain WebWallet.
</p>

<p>
    The WebWallet, just like the <a href="/lessons/1">CLI tool</a> is a wallet for FumbleChain. The difference is that
    this wallet runs in a web browser, thus its name WebWallet.
</p>

<p>
    The WebWallet is embedded in the <a href="/lessons/2">BlockChain explorer</a> and can be accessed by clicking the
    <code>WebWallet</code> link in the FumbleChain Explorer. If this is your first time using the WebWallet, you should
    first generate a new wallet by clicking the <em>Generate</em> button. Next, before you can make any transaction or
    mine blocks, you must select an active wallet. Every time you generate a new wallet, it becomes available in the
    wallet list. Just select the wallet you would like to use and hit the <em>Change</em> button.
</p>

<p>
    To make a transaction, insert the destination wallet address and the amount of FumbleCoins you would like to send to
    that address using your active wallet. If your active wallet has enough funds, the transaction will be broadcast.
    For your transaction to be acknowledged by the FumbleChain network, it will need to be added to a mined block. You
    can wait for others to mine a block or you can mine it yourself.
</p>

<p>
    To mine a block, click the <em>Start mining</em> button at the bottom of the WebWallet page. This will start the
    miner. You should refresh the page after a few seconds and may notice that the balance for your active wallet has
    been updated. For every block that you successfully mine, you will receive 1 FumbleCoin as a reward. The current
    FumbleChain network is configured so that one block is mined every 6 seconds. The system will automatically adjust
    the mining difficulty based on the time it takes to mine the latest 10 blocks. Therefore it is useless to try and
    mine blocks as fast as possible to solve challenges using mining rewards. The system will throttle you by increasing
    the mining difficulty if you try that. Every node on the network checks that the blocks have been mined using the
    universally accepted current difficulty. This difficulty is deterministically computed.
</p>

<p>
    That concludes this lesson about the WebWallet.
</p>