<p>
    In this lesson, we will explain what a blockchain is.
</p>

<p>
    A blockchain is a distributed history of transactions. Transactions are packaged into blocks. Each block is linked
    to the previous block, forming a chain.
</p>

<p>
    Blocks in the chain cannot be modified and are forever frozen. This is why information stored in a blockchain can be
    trusted. This trust is guaranteed by nodes who join the blockchain network and help validate these blocks.
    The blockchain uses a <a href="/lessons/1000">consensus mechanism</a> to ensure that the data stored in the
    blockchain is consistent across all nodes of the network and is never tampered with.
</p>

<p>
    There exist blockchains for multiple purposes. The most famous purpose is cryptocurrency or in other words, digital
    money. Some examples are Bitcoin and Ethereum. However, blockchains can be used to store more than money
    transactions. Indeed, one could imagine using a blockchain to store events or logs. This becomes possible by
    appending arbitrary data to transactions so that your data is stored in transactions and then these transactions
    become part of blocks which enter the blockchain.
    FumbleChain does not allow storing arbitrary data within transactions, however some blockchains do.
</p>

<p>
    Some Blockchains support more advanced concepts and features such as <a href="/lessons/1004">Smart Contracts</a>.
    Ethereum is probably the most used platform for smart contracts today, even though Bitcoin also supports smart
    contracts with its <em>Script</em></emc> language which is more limited.
</p>

<p>
    Blockchains can be <strong>permissioned</strong> (e.g Hyperledger Fabric) or <strong>permissionless</strong> (e.g.
    Bitcoin, Ethereum).
    The difference is that anyone can read the chain, make transactions and validate transactions on a permisionless
    blockchain.
    However, some permissions are required to perform some actions on a permissioned blockchain.
</p>

<p>
    Permissioned blockchains can be restricted to varying degrees and usually are more suited to enterprise projects.
    Whereas permissionless blockchains are more suited to fully decentralized public projects such as Bitcoin.
</p>