{% extends "base.html" %}

{% block title %}Sign in - FumbleStore{% endblock %}}

{% block content %}
<form method="POST" action="/login">
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input autofocus type="text" class="form-control form-control-sm" id="username" name="username"
                   placeholder="username"/>
        </div>

    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control form-control-sm" id="password" name="password"
                   placeholder="password"/>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>

</form>

<p></p>

<p>
    Do not have an account yet? <a href="/register">Sign up</a>
</p>
{% endblock %}